:root {
  --avatarx: 0px;
  --avatary: 0px;
  --avatarRotate: 0;
  --trashSlide: 0;
  --lidSlide: 0;
}

html,
body {
  max-width: 100vw;
  overflow-x: hidden;
}

html {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  height: 100;
  margin: 0;
  position: relative;
}

.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  width: 100vw;
  height: 100vh;
  background-attachment: fixed;
  background: rgb(244, 158, 76);
  background: linear-gradient(
    315deg,
    rgba(244, 158, 76, 1) 55%,
    rgba(234, 197, 126, 1) 100%
  );
}

/**
 * ----------------------------------------
 * animation pulsate-fwd
 * ----------------------------------------
 */
@-webkit-keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}
@keyframes pulsate-fwd {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
  50% {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }
  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

/**
 * ----------------------------------------
 * animation pulse for button
 * ----------------------------------------
 */

.button-container {
  z-index: 1;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  height: 13vh;
}

.buttonshake {
  -webkit-animation: pulsate-fwd 1s ease-in-out infinite both;
  animation: pulsate-fwd 1s ease-in-out infinite both;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

#button {
  font-family: "Anton", sans-serif;
  font-size: 40px;
  height: 60px;
  /* background-color: #bbf3c0; */
  background-color: #b2d6ff;
  border-radius: 5px;
  border: 1.5px solid gray;
  padding: 20px;
  box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 1px black,
    0 1px 5px 2px #5c5a5a;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.8s;
}

#joke-container {
  position: relative;
  height: 30vh;
  width: 90%;
  font-family: "Press Start 2P", cursive;
  letter-spacing: 2px;
  line-height: 1.6;
  text-align: center;

  overflow-y: scroll;
}

#joke-container::-webkit-scrollbar {
  display: none;
}

/**
 * ----------------------------------------
 * animation swing-in-top-fwd
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-fwd {
  0% {
    -webkit-transform: rotateX(-100deg);
    transform: rotateX(-100deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

#joke {
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  border: 5px solid black;
}

#jokeText {
  background-color: #f9f7e8;
  padding: 15px 3px;
  margin: 0;
  text-align: center;
}

/**
 * ----------------------------------------
 * animation shake-bottom for thumbs >>>>>>>>> need to set timer for initiation of motion after joke
 * ----------------------------------------
 */
@-webkit-keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}
@keyframes shake-bottom {
  0%,
  100% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transform-origin: 50% 100%;
    transform-origin: 50% 100%;
  }
  10% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
  20%,
  40%,
  60% {
    -webkit-transform: rotate(-4deg);
    transform: rotate(-4deg);
  }
  30%,
  50%,
  70% {
    -webkit-transform: rotate(4deg);
    transform: rotate(4deg);
  }
  80% {
    -webkit-transform: rotate(-2deg);
    transform: rotate(-2deg);
  }
  90% {
    -webkit-transform: rotate(2deg);
    transform: rotate(2deg);
  }
}

#thumbs {
  height: 34vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
}

.thumb {
  height: 170px;
  padding: 10px;
  opacity: 0.5;
}

.thumbshake {
  -webkit-animation: shake-bottom 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955)
    both;
  animation: shake-bottom 1.5s cubic-bezier(0.455, 0.03, 0.515, 0.955) both;
  animation-delay: 4s;
  animation-iteration-count: infinite;
  animation-fill-mode: backwards;
}

/**
 * ----------------------------------------
 * animation roll-in-right
 * ----------------------------------------
 */
@-webkit-keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}
@keyframes roll-in-right {
  0% {
    -webkit-transform: translateX(800px) rotate(540deg);
    transform: translateX(800px) rotate(540deg);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateX(0) rotate(0deg);
    transform: translateX(0) rotate(0deg);
    opacity: 1;
  }
}

/**
 * ----------------------------------------
 * animation roll-out-bottom for avatar icon
 * ----------------------------------------
 */
@-webkit-keyframes roll-out-bottom {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(540deg);
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
}
@keyframes roll-out-bottom {
  0% {
    -webkit-transform: translateY(0) rotate(0deg);
    transform: translateY(0) rotate(0deg);
    opacity: 1;
  }
  100% {
    -webkit-transform: translateY(800px) rotate(540deg);
    transform: translateY(800px) rotate(540deg);
    opacity: 0;
  }
}

#avatar-icon {
  display: flex;
  justify-content: center;
  width: 170px;
  height: 140px;
  background-color: #f9f7e8;
  border-radius: 50%;
  border: rgba(0, 0, 0, 0.623) solid 3px;
  margin: 20px 0px;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  -webkit-animation: roll-in-right 0.6s ease-out both;
  animation: roll-in-right 0.6s ease-out both;
}

#newAvatarDiv {
  position: relative;
  transform: translateX(var(--avatarx)) translateY(var(--avatary))
    rotate(var(--avatarRotate));
  transition: 3s;
  z-index: 1;
}

/**
 * ----------------------------------------
 * animation swing-in-top-bck
 * ----------------------------------------
 */
@-webkit-keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}
@keyframes swing-in-top-bck {
  0% {
    -webkit-transform: rotateX(70deg);
    transform: rotateX(70deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 0;
  }
  100% {
    -webkit-transform: rotateX(0deg);
    transform: rotateX(0deg);
    -webkit-transform-origin: top;
    transform-origin: top;
    opacity: 1;
  }
}

#newJokeDiv {
  -webkit-animation: swing-in-top-bck 0.6s
    cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  animation: swing-in-top-bck 2s cubic-bezier(0.175, 0.885, 0.32, 1.275) both;
  transition: 3s;
}

.rollout {
  -webkit-animation: roll-out-bottom 0.6s ease-in both;
  animation: roll-out-bottom 0.6s ease-in both;
}

#sprite {
  overflow: hidden;
  width: 115px;
  height: auto;
  padding-top: 5px;
}

.avatar-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 140px;
  margin: 20px 0px;
}

#trash-icon {
  display: flex;
  justify-content: center;
  position: fixed;
  bottom: -45vh;
  transform: translateY(var(--trashSlide));
  transition: 0.8s;
  z-index: 10;
}
.trashcan {
  position: relative;
  width: 240px;
  height: 100%;
}

.trashcanimage {
  width: 100%;
  height: auto;
}

.trashcantop {
  transform: translateY(var(--lidSlide));
  transition: 1s;
  width: 100%;
  height: auto;
}

#initial-avatar {
  position: absolute;
  top: 17vh;
}

.disable {
  cursor: not-allowed;
  pointer-events: none;
}

#initial-avatar-container {
  position: absolute;
  display: flex;
  justify-content: center;
}

#initial-avatar {
  margin-top: 5vh;
  width: 350px;
  z-index: 100;
}

#initial-speech-bubble {
  transform: translateY(120px);
  z-index: 101;
  width: 300px;
  height: 150px;
}

#up {
  transition: 0.8s;
}

#down {
  transition: 0.8s;
}

@media screen and (min-width: 800px) {
  #whole-screen {
    width: 100vw;
    background-color: rgb(46, 46, 46);
    position: relative;
    display: flex;
    justify-content: center;
  }
  .main-container {
    width: 800px;
    overflow: hidden;
    position: relative;
  }

  #thumbs {
    width: 100%;
    justify-content: space-around;
  }

  .thumb {
    height: 230px;
  }

  #button {
    height: 100px;
    font-size: 50px;
    margin-top: 10px;
  }

  #jokeText {
    font-size: 25px;
  }

  .avatar-container {
    height: 220px;
    width: 100vw;
  }

  #newAvatarDiv {
    padding: 0;
    margin: 0;
  }

  #avatar-icon {
    margin: 0;
    height: 180px;
    width: 210px;
    padding: 0;
  }

  #sprite {
    width: 150px;
  }

  .trashcan {
    width: 300px;
  }

  #trash-icon {
    bottom: -50vh;
  }

  #initial-avatar-container {
    position: absolute;
    width: 100%;
    display: flex;
    justify-content: center;
  }

  #initial-avatar {
    transform: translateY(-20px);
    z-index: 100;
  }

  #initial-speech-bubble {
    transform: translateY(20px) scale(0.4);
  }
}
