html, body {
    max-width: 100%;
    overflow-x: hidden;
}

html {
    height: 100%;
    margin: 0;
    padding: 0;
}

body {
    height: 100;
    margin: 0;
    background-attachment: fixed;
    background: rgb(244,158,76);
    background: linear-gradient(315deg, rgba(244,158,76,1) 55%, rgba(234,197,126,1) 100%);
}

.main-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.button-container {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    height: 13vh;
}
#button {
    font-family: 'Anton', sans-serif;
    font-size: 40px;
    height: 60px;
    background-color: #bbf3c0;
    border-radius: 5px;
    border: 1.5px solid gray;
    padding: 20px;
    box-shadow: inset 0 -3em 3em rgba(0, 0, 0, 0.1), 0 0 0 1px black,
    0 1px 5px 2px #5c5a5a;
    display: flex;
    justify-content: center;
    align-items: center;
}

#joke-container {
    border: 1px solid black;
    height: 30vh;
    width: 90vw;
}

#thumbs {
    height: 34vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.thumb {
    height: 170px;
    padding: 10px;
}

#avatar-icon {
    display: flex;
    justify-content: center;
    width: 170px;
    height: 140px;
    background-color: #ffff;
    border-radius: 50%;
    border: black solid 1px;
    margin: 20px 0px;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.19), 0 6px 6px rgba(0, 0, 0, 0.23);
  /* Shadow on bottom right */
}

#sprite {
    overflow: hidden;
    width: 115px;
    height: auto;
    padding-top: 5px;
}

.avatar-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 140px;
    margin: 20px 0px;
}

.disable {
    cursor: not-allowed;
    pointer-events: none;
}